$blue: #3bbfce; /* цвет */
$margin: 16px; /* отступ */
$fontSize: 14px; /* размер текста */
.content {
    border: 1px solid $blue; /* синий бордюр */
    color: darken($blue, 20%); /* затемнение цвета на 20% */
}
.content1 {
    border: 1px solid $blue; /* синий бордюр */
    color: mix(black, $blue, 29);
}
