.container
  .row
    form(method="post").col.s12
      .row
        .input-field.col-sm-12.col-md-6
          label.col-lg-5.control-label(for="password") Password
          input.col-lg-7.form-control(placeholder="At least #{minimumPasswordLength} characters", type="password", name="password", id="password", class="validate", required, autofocus)
        .input-field.col-sm-12.col-md-6
          label.col-lg-5.control-label(for="confirmPassword") Confirm Password
          input.col-lg-7.form-control(type="password", name="confirmPassword", id="confirmPassword", class="validate", required)
      .row
        .input-field.col.s12
          include ../../layouts/includes/_csrf-token
          button.btn.waves-effect.waves-light Submit
          a.btn-flat.waves-effect.waves-light(href="/") Cancel
