extends ../layouts/app
block variables
  - 
    var page_title = 'This is Blog Detail Page'
    var description = 'This is Blog Detail Page Description'
block content
  section#feature.section-padding
    .container
      .row
        .header-section.text-center
          h2= title
        hr.bottom-line
      .row
        h1 Заголовок статьи
        p Текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи
        p Еще текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи текст статьи
        a(href='/blog/list', style='color:#5FCF80;') &larr; Вернуться в список