extends ../layouts/app
block variables
  - 
    var page_title = 'This is Blog Index Page'
    var description = 'This is Blog Index Page Description'
block content
  section#feature.section-padding
    .container
      .row
        .header-section.text-center
          h2= title
        hr.bottom-line
