extends ../layouts/app
block variables
  - 
    var page_title = 'This is Blog List Page'
    var description = 'This is Blog List Page Description'
block content
  section#feature.section-padding
    .container
      .row
        .header-section.text-center
          h2= title
        hr.bottom-line
      .row
        ul
          li
            a(href='/blog/detail', style='color:#5FCF80;') Статья 1
            br
            span Краткое описание первой статьи
          li
            a(href='/blog/detail', style='color:#5FCF80;') Статья 2
            br
            span Краткое описание второй статьи
