extends ../layouts/app

block content
  .page-header.section-padding
    h3.text-center Sign in
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Login
        a.btn.btn-link(href='/user/forgot') Forgot your password?
    .form-group
      .col-sm-offset-3.col-sm-7
        hr
  .container
    .row
      .text-center
        a.btn.btn-green(href='/auth/facebook')
          i.fa.fa-2x.fa-facebook
        | &nbsp;
        a.btn.btn-green(href='/auth/twitter')
          i.fa.fa-2x.fa-twitter
        | &nbsp;
        a.btn.btn-green(href='/auth/google')
          i.fa.fa-2x.fa-google-plus
        | &nbsp;
        a.btn.btn-green(href='/auth/linkedin')
          i.fa.fa-2x.fa-linkedin
        | &nbsp;
        a.btn.btn-green(href='/auth/github')
          i.fa.fa-2x.fa-github
        hr
